<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="com._1c.g5.v8.dt.check.checks">
		
		<category
			id="ru.capralow.dt.adaptation.prefix.checks"
			title="%prefixChecks">
		</category>
		
		<check
			category="ru.capralow.dt.adaptation.prefix.checks"
			class="ru.capralow.dt.adaptation.internal.ExecutableExtensionFactory:ru.capralow.dt.adaptation.prefix.ObjectHasNoPrefixCheck">
		</check>
		<check
			category="ru.capralow.dt.adaptation.prefix.checks"
			class="ru.capralow.dt.adaptation.internal.ExecutableExtensionFactory:ru.capralow.dt.adaptation.prefix.ObjectHasUnnessesaryPrefixCheck">
		</check>
		
	</extension>
</plugin>
